<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="login.css">
    <title>Login</title>
    <style>
        body {
 background-image: url("https://img.freepik.com/free-vector/medical-healthcare-blue-color_1017-26807.jpg");
}
    </style>
</head>
<body>
    <h1>This is the login page</h1>
    <p>Please enter your username and password</p>
    <div class="loginDiv">
        <input class="inputField" placeholder="Username" />
        <br>
        <br>
        <input class="inputField" type="password" placeholder="Password" />
        <br>
        <br>
        <button>Login</button>
        <br>
        <br>
        <a href="/register">Already have an account</a>
    </div>
</body>
</html>