<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="register.css">
    <title>Title</title>
    <style>
        body {
 background-image: url("https://img.freepik.com/free-vector/medical-healthcare-blue-color_1017-26807.jpg");
}
    </style>
</head>
<body>
  <h1>This is register page</h1>
    <p>Please enter your credentials</p>
    <div class="loginDiv">
        <input class="inputField" placeholder="Username" />
        <br>
        <br>
        <input class="inputField" type="password" placeholder="Password" />
        <br>
        <br>
      <input class="inputField" type="password" placeholder="Confirm Password" />
        <br>
        <br>
        <button>Register</button>
        <br>
        <br>
        <a href="/login">Already have an account</a>
    </div>
</body>
</html>